[v-cloak] > * {
    display:none;
}


a {
    color: #007bff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
*{
    padding: 0;
    margin: 0;
}
body {
    font-family: "Roboto",sans-serif;
}
.h-full{
    height: 100%;
}
.flex{
    display: flex;
}
.pt-20{
    padding-top: 20px;
}
.mt-20{
    margin-top: 20px;
}
.fs-20{
    font-size: 20px;
}
.header{
    height: 50px;
}